<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>News API</title>
</head>
<nav>
    <a href="/"><h1>NEWS</h1></a>
    <ul>
        <li><a href="{{ url_for('articles', category='business')}}">Business</a></li>
        <li><a href="{{ url_for('articles', category='entertainment')}}">Entertainment</a></li>
        <li><a href="{{ url_for('articles', category='health')}}">Health</a></li>
        <li><a href="{{ url_for('articles', category='science')}}">Science</a></li>
        <li><a href="{{ url_for('articles', category='sport')}}">Sport</a></li>
        <li><a href="{{ url_for('articles', category='technology')}}">Technology</a></li>
    </ul>
</nav>
<body>