<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>News API</title>
</head>
<nav>
    <h1>NEWS</h1>
</nav>
<body>
    <div class="articles">
    {% for article in articles %}
        <div class="article">
            <a href="{{ article.url }}" target="_blank">
                <div class="article_image">
                    <img src="{{ article.urlToImage }}" alt="" srcset="">
                </div>
            </a>
            <div class="article_container">
                <a class="article_title" href="{{ article.url }}" target="_blank">
                    {{ article.title }}
                </a>
                <h3 class="article_description">{{ article.description }}</h3>
                <p class="article_content">{{ article.content.split('…', 1)[0] }}...</p>
                <!-- <p>{{ article }}</p> -->
            </div>

        <br>
        </div>

    {% endfor %}
    </div>
    <footer>
        
    </footer>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>